@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/*Обнуление*/
* {padding: 0; margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Roboto', sans-serif;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.content {
    flex: 1 1 auto;
}

/*Верхнє меню*/
.top-menu {
    background-color: #f2f2f2;
}

.top-menu-row {
    display: flex;
    flex-wrap: wrap;
    color: #757575;
    padding: 5px 0px;
}

.top-menu-left {
    margin-left: 0;
    margin-right: auto;
}

.top-menu-left a {
    padding: 0px 8px;
    color: #757575;
    border-right: 1px solid #e6e6e6;
}

.top-menu-left :hover {
    text-decoration: none;
    color: #337ab7;
}

.top-menu-right {
    margin-left: auto;
    margin-right: 0;
}

.top-menu-right :hover {
    text-decoration: none;
    color: #337ab7;
}

.top-menu-right a {
    padding: 0px 2px;
    color: #757575;
}

.header-menu-row {
    display: flex;
    flex-wrap: wrap;
    padding:25px 0px;
    align-items: center;
}

.header-menu-left {
    margin-left: 0;
    margin-right: auto;

}
.header-menu-left img {
    max-width: 100%;

}
.header-menu-right {
    margin-left: auto;
    margin-right: 0;
}

.header-menu-right a {
    padding: 0 5px;
}

.header-menu-item {
    margin-right: 30px;
}
.header-menu-lang {
    padding-left: 5px;
}

.fa-facebook-f {
    color: #337ab7;
}

.fa-youtube {
    color: red;
}

.fa-flickr {
    color: pink;
}

/*Головне меню*/
.main-menu {
    background-color: #7ab80e;
    z-index: 999999;
    white-space: nowrap;
}

.main-menu a {
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: none;
    color: #ffffff;
}

.main-menu li {
    list-style: none;
    position: relative;
}

.main-menu-list {
    display: flex;
    flex-wrap: nowrap;
}

.main-menu-list>li{
    padding: 15px 15px;
}

.main-menu-list>li:hover {
    background-color: #6da50b;
    padding: 15px 15px;
}

.main-menu-list>li:hover .sub-main-menu-list {
    display: block;
}

.main-menu-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.sub-main-menu-list {
    display: none;
    position: absolute;
    left: 0;
    min-width: 300px;
    top: 19px;
    padding: 25px 0px 0px 0px;
    z-index: 99999;
}

.sub-main-menu-list>li {
    background-color: #f5f5f5;
}

.sub-main-menu-link {
    padding: 10px 10px;
}

.sub-main-menu-link a {
    color: #333333;
}

.sub-main-menu-list li:hover{
    background-color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
}

.sub-main-menu-list li a:hover {
    color: #337ab7;;
}

.sub-sub-main-menu-list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

.sub-main-menu-list li:hover .sub-sub-main-menu-list {
    display: block;
}

.sub-sub-main-menu-list>li {
    background-color: #f5f5f5;
}

.sub-sub-main-menu-link {
    padding: 10px 10px;
}

.sub-sub-main-menu-link a {
    color: #333333;
}

.sub-sub-main-menu-list li a:hover {
    color: #337ab7;
}

.main-burger {
    display: none;
}

/* Бургер */
@media (max-width: 855px) {
.right-menu {
    display: none;
}

.news-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px 0px 0px -8px;
}
.world-news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px 0px 0px -8px;
}

.cards-row {
    display: none;
}

body.lock {
overflow: hidden;
}

.main-menu {
    background-color: #7ab80e;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 15px;
    z-index: 99999;
}

.main-menu-list {
    position: fixed;
    top: 185px;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #5f5f5f;
    display: block;
    top: -100%;
    text-align: center;
    font-size: 14px;
}

.main-menu-list.active {
    top: 185px;
}

.sub-main-menu-list {
    position: relative;
    top: 0;
    padding-top: 15px;
    background-color: #7ab80e;
}

.main-menu-list>li:hover {
    background-color: #7ab80e;
    padding: 15px 0px 15px 0px;
}

.sub-sub-main-menu-list {
    position: relative;
    left: 0;
    padding: 10px 0px;
    background-color: #7ab80e;
}

.sub-main-menu-list li {
    background-color: #7ab80e;
}

.sub-main-menu-list li:hover{
    background-color: #7ab80e;
    padding: 10px 0px;
}
.sub-main-menu-list li a:hover {
    color: #ffffff;
}

.sub-main-menu-list li a {
    color: #ffffff;
}

.sub-sub-main-menu-list li:hover{
    background-color: #666666;
}

.sub-sub-main-menu-list li {
    background-color: #666666;
}

.sub-main-menu-link {
    background-color: #7ab80e;
}

.main-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    top: 0;
    margin: auto;
    z-index: 999;
}

.main-burger:before, .main-burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.main-burger:before {
    top: 0px;
}

.main-burger:after {
    bottom: 0px;
}
.main-burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
}

.main-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}

.main-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.main-burger.active span {
    transform: scale(0);
}
}

@media (max-width: 530px) {
.header-menu-right {
    display: none;
}
.header-menu-left {
    margin: auto;
}
}

@media (max-width: 1100px) {
    body {
        zoom: 80%;
    }
}
/* Slick Slider */
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.main-slider {
    position: relative;
    height: 400px;
}

.main-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9999;
    font-size: 0;
    width: 30px;
    height: 55px;
    margin: 0 30px;
    margin: -50px 50px 0px 50px;
}

.main-slider .slick-arrow.slick-prev{
    left: 0;
    background: url(/img/slider/sl-arrow_l.svg) 0 0 / 100% no-repeat;
}

.main-slider .slick-arrow.slick-next{
    right: 0;
    background: url(/img/slider/sl-arrow_r.svg) 0 0 / 100% no-repeat;
}

.main-slider .slick-dots{
    display: flex;
    position: relative;
    bottom: 35px;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.main-slider .slick-dots li{
    list-style: none;
    margin: 0px 10px
}

.main-slider .slick-dots li.slick-active button {
    background: transparent;
    border: 1px solid #fff;
}

.main-slider .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    color: #ffffff;
    border-radius: 50%;
}

.main-slider .slide-content {
    display: flex;
    position: relative;
    width: 90%;
    bottom: 450px;
    left: 90px;
}

.slide-title {
    margin: 0px 0px 20px 0px;
}
.slide-sub-title {
    margin: 0px 0px 20px 0px;
}
.slide-text {
    text-align: left;
    width: 1000px;
}

.slide-title a {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #7ab80e;
    padding: 5px 20px 5px 20px;
    
}
.slide-sub-title a {
    color: #7ab80e;
    font-size: 24px;
    padding-left: 20px;
    background-color: #000000b4;
    padding: 5px 20px 5px 20px;
    
}
.slide-text a {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}

/* Video Slider */
/* Слайдер */
.slick-slider{}
.video-slider .slick-list {
    background-color: #e6e6e6;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
/* Лента слайдов */
.video-slider .slick-track{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.video-slider {
    position: relative;
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

.video-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9999;
    font-size: 0;
    margin: -15px 365px 0px 365px;
}

.video-slider .slick-slide.slick-cloned {
    max-width: 383px;
}

.video-slider .slick-arrow.slick-prev::before {
    right: 0;
    content: "\f137";
        color: #8b8b8b;
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    z-index: 9999;
    font-size: 26px;
}

.video-slider .slick-arrow.slick-next {
right: 0;
}

.video-slider .slick-arrow.slick-prev {
left: 0;
}

.video-slider .slick-arrow.slick-next::after {
    left: 0;
    content: "\f138";
    color: #8b8b8b;
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    z-index: 9999;
    font-size: 26px;
}
 /* Плашка*/
.countdown-row {
    display: flex;
    background-color: #337ab7;
    padding: 10px 0px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color:  #ffffff;
    font-size: 20px;
}
.countdown-button button {
    background-color: #7ab80e;
    border-radius: 4px;
    margin: 0px 0px 0px 20px;
    padding: 10px 20px;
}

.countdown-button button a {
    color: #ffffff;
    font-size: 18px;
}

.countdown-button button:hover{
    background-color: #ff2c07;
    transition: 0.5s ease-in;
}
 
.countdown {
  color: #fff;
  display: inline-block;
  text-align: center;
}
 
.countdown-number {
  padding: 2px;
  display: inline-block;
}
 
.countdown-time {
  padding: 2px;
  display: inline-block;
}

.days, .hours, .minutes, .seconds {
    font-size: 30px;
    font-weight: 500;
}

.countdown-text {
  font-size: 24px;
}

/*Наповнення "Новини"*/
.main-block-row {
    display: flex;
}
.news {
    margin: 0px 20px 0px 0px;
}
.block-title {
    text-align: left;
}

.news-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px -8px;
}

.news-column {
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
    padding: 0px 8px;
}

.news-item-row {
    display: flex;
}

.news-item-image {
    flex: 0 0 auto;
    height: 100px;
}

.news-item-image img {
    width: 150px;
    height: auto;
    float: left;
}

.news-item-body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}

.item-body-title a {
    font-size: 18px;
    color: #333333;
    line-height: 18px;
    margin-bottom: 10px;
}

.item-body-text a {
    height: 120px;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}
.more-news-link {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.more-news-link a { 
    font-size: 16px;
    background-color: #7ab80e;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
}

.more-news-link a:hover {
    color: #337ab7;
    padding: 10px 15px;
    background-color: #e1e1e1;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}

/* World-News */
.world-news {
    display: flex;
    flex: 0 1 50px;
    margin: 0px 20px 0px 0px;
}
.news-naas {
    flex: 0 0 50%;
    margin-right: 15px;
}
.block-title { }
.naas-news-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px -8px;
}
.naas-news-column {
    flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
    padding: 0px 8px;
}
.naas-news-column-item { }
.naas-news-item { }
.naas-news-item-row {
    display: flex;
}
.naas-news-item-image {
    flex: 0 0 auto;
    height: 57px;
}
.naas-news-item-image img {
    width: 100px;
    height: auto;
    float: left;
}
.naas-news-item-body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}
.naas-news-pub-date { }
.news-body-title {
    line-height: 18px;
    margin-bottom: 2px;
}

.news-body-title a {
    color: #333333;
    font-size: 18px;
 }

.news-item-body-text a {
    color: #666666;
    font-size: 13px;
}
.news-ua {
    flex: 0 0 50%;
}
.ua-news-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px -8px;
}
.ua-news-column {
    flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
    padding: 0px 8px;
}
.ua-news-column-item { }
.ua-news-item-row {
    display: flex;
}
.ua-news-item-image {
    flex: 0 0 auto;
    height: 57px;
}
.ua-news-item-image img {
    width: 100px;
    height: auto;
    float: left;
}
.ua-news-item-body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}
.ua-news-pub-date { }

.naas-more-news-link {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.naas-more-news-link a { 
    font-size: 16px;
    background-color: #337ab7;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
}

.naas-more-news-link a:hover {
    color: #337ab7;
    padding: 10px 15px;
    background-color: #e1e1e1;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}

.ua-more-news-link {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.ua-more-news-link a { 
    font-size: 16px;
    background-color: #7ab80e;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
}

.ua-more-news-link a:hover {
    color: #337ab7;
    padding: 10px 15px;
    background-color: #e1e1e1;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}

/* Меню справа */
.right-menu {
    width: 33,33%;
    flex: 0 1 100%;
}

.block-title {
    font-size: 24px;
    font-weight: 300;
    margin: 0px 0px 5px 0px;
    white-space: nowrap
}

.line {
    float: left;
    width: 100%;
}

.title-short-line {
    float: left;
    width: 20%;
    height: 2px;
    background: #7ab80e;
}

.title-long-line {
    float: left;
    width: 80%;
    height: 1px;
    background: #e1e1e1;
    margin-top: 1px;
}

.right-menu-container {
    margin: 20px 0px 20px 0px;
}

.right-menu-item-list {
    margin: 15px 0px;
}

.right-menu-container ul li a {
    color: #333333;
    width: 100%;
    padding: 10px 8px;
    float: left;
    border-bottom: 1px solid #f2f2f2;
}

.right-menu-container ul li a:hover {
    background-color: #f2f2f2;
    color: #337ab7;
}

.right-sub-menu-item {
    position: absolute;
    display: none;
    margin: 15px 0px;
    width: 100%;
}

.right-menu-item li:hover .right-sub-menu-item {
    display: block;
    position: relative;
}

.right-menu-item {
    
}
.right-menu-link {
    display: flex;
    align-items: center;
    background-color: #7ab80e;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 2px;
    border-radius: 0px 4px 4px 0px;
}

.right-menu-link a {
    color: #ffffff;
    margin: 0px 0px 0px 10px;
}

.right-menu-link:nth-child(4) {
    background-color: #ec5e33;
}

.right-menu-link:nth-child(6) {
    background-color: #ff9900;
}

.right-menu-link:nth-child(8) {
    background-color: #a200ff;
}

.right-menu-link:nth-child(10) {
    background-color: #f700ff;
}

.right-menu-link:nth-child(12) {
    background-color: #ff0062;
}

.right-menu-link:nth-child(14) {
    background-color: #00ccff;
}
.right-menu-link:hover {
    background-color: #337ab7;
    border-radius: 4px 4px 4px 4px;
    transition: 0.3s ease-in;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #7ab80e;
    color: #ffffff;
    height: 60px;
    width: 50px;
    font-size: 20px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px 0px 0px 4px;
}

.menu-icon i {
    margin: 0 auto;
    line-height: 50px;
    font-size: 25px;
}

.menu-icon:nth-child(3) {
    background-color: #ec5e33;
}

.menu-icon:nth-child(5) {
    background-color: #ff9900;
}

.menu-icon:nth-child(7) {
    background-color: #a200ff;
}

.menu-icon:nth-child(9) {
    background-color: #f700ff;
}

.menu-icon:nth-child(11) {
    background-color: #ff0062;
}

.menu-icon:nth-child(13) {
    background-color: #00ccff;
}

/* Ліве меню */
.page-menu {
    width: 33,33%;
    flex: 0 1 100%;
}
.page-menu-container {
    margin: 20px 0px 20px 0px;
}

.page-menu-container ul li a {
    position: relative;
    display: block;
    color: #7ab80e;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 100%;
    padding: 8px 8px;
    float: left;
    border-bottom: 1px solid #f2f2f2;
}

.page-menu-container ul li a:hover {
    background-color: #f2f2f2;
    color: #337ab7;
}

.left-menu-item-list {
    margin: 15px 0px;
}

.left-sub-menu-item {
    position: absolute;
    display: none;
    margin: 15px 0px 15px 10px;
    width: 100%;
}

.left-menu-item li:hover .left-sub-menu-item {
    display: block;
    position: relative;
}

.left-menu-item {
    
}
.left-menu-link {
    display: flex;
    align-items: center;
    background-color: #7ab80e;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 2px;
    border-radius: 0px 4px 4px 0px;
}

.left-menu-link a {
    color: #ffffff;
    margin: 0px 0px 0px 10px;
}

.left-menu-link:hover {
    background-color: #337ab7;
    border-radius: 4px 4px 4px 4px;
    transition: 0.3s ease-in;
}

.sub-sub-left-menu-list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.left-sub-menu-item li:hover .sub-sub-left-menu-list {
    display: block;
}

.sub-sub-left-menu-link {
    padding: 10px 10px;
}

.sub-sub-left-menu-link a {
    color: #333333;
    white-space: nowrap;
}

.sub-sub-left-menu-link li a:hover {
    color: #337ab7;
}

/* Основний вміст */

.page-content-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
}

.page-menu {
    flex: 0 1 30%;
}

.content-row {
    flex: 0 1 69%;
    margin: 0px 0px 0px 10px;
 }

 .date {
    margin: 2px 0px 2px 0px;
    padding: 10px 0px 10px 10px;
    border-top: 1px dashed #f2f2f2;
    border-bottom: 1px dashed #f2f2f2;
    color: #5f5f5f;
}


.content-title h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 0px 0px 0px 10px;
}

.content-text {
    margin: 10px 0px 20px 0px;
}

.content-text p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Картки */
.cards-row {
    margin-bottom: 20px;
}
.cards {
    margin: 20px 30px;
    overflow: hidden;
    border-radius: 4px;
}
.cards-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

.cards-items {
    position: absolute;
    width: 250px;
    height: 120px;
    text-transform: uppercase;
    background-color: #7ab80e9c;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    line-height: 120px;
    z-index: 2;
}

.cards-items a {
    color: #ffffff;
    top: 50%;
}
.cards-items:hover {
    background-color: #00000083;
    transition: 0.5s ease-in; }
.card-image {
    position: relative;
    width: 250px;
    height: 120px;
    margin: 0 auto;
    z-index: 1;
}

.card-image img {
    width: 100%;
 }

/* Breadcrumbs */
.breadcrumbs {
    margin-top: 20px;
}
.breadcrumbs-item {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.breadcrumbs-item-list>a,
.breadcrumbs-item-list.active {
  color: #fff;
  display: block;
  background: #7ab80e;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  user-select: none;
}

.breadcrumbs-item-list:first-child>a {
  padding-left: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.breadcrumbs-item-list:last-child>a,
.breadcrumbs-item-list.active {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding-right: 15px;
}

.breadcrumbs-item-list:first-child>a::before,
.breadcrumbs-item-list:last-child>a::after {
  border: none;
}

.breadcrumbs-item-list>a::before,
.breadcrumbs-item-list>a::after,
.breadcrumbs-item-list.active::before {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #7ab80e;
  border-width: 17px 10px;
  width: 0;
  height: 0;
}
.breadcrumbs-item-list>a::before,
.breadcrumbs-item-list.active::before {
  left: -20px;
  border-left-color: transparent;
}

.breadcrumbs-item-list>a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #7ab80e;
}

.breadcrumbs-item-list>a:hover {
  background-color: #337ab7;
}

.breadcrumbs-item-list>a:hover::before {
  border-color: #337ab7;
  border-left-color: transparent;
}

.breadcrumbs-item-list>a:hover::after {
  border-left-color: #337ab7;
}

.breadcrumbs-item-list.active {
  color: #337ab7;
  background-color: #f3e5f5;
}

.breadcrumbs-item-list.active::before {
  border-color: #f3e5f5;
  border-left-color: transparent;
}

/*Footer*/
.footer {
    background-color: #f5f5f5;
}

.footer-row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #337ab7;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
}